*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    top: 0px;
    width: 100%;
    padding:0 20px;
    z-index: 1;
}
.icons{
    color: black;
    font-size: 20px;
    width: 50px;
    z-index: 50;
    /* position: fixed; */
    /* margin-left:12rem; */
    position: absolute;
    right:0;
    /* animation: all 0.5s linear; */
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
   
}
a{
    text-decoration: none;
     color: black;
}
li{
    font-weight: 500;
    font-size: 18px;
   
    padding:10px;
}
.rightbox{
    /* display:block; */
    position: fixed;
    top:0;
    right: 0;
   flex-direction: column;
    width:250px;
    height:100vh;
    background-color: white;
    padding:2rem 0 0 1rem;
    /* animation: all 0.5s linear; */
    z-index: 10;
  }
  /* @keyframes all {
     0%{
        right:-250px;

     }
     100%{
        right:0px;
     }
    
  } */
.slide-in{
    animation: in 0.5s linear;
}
@keyframes in {
    0%{
       right:-250px;
    }
    100%{
        right:0;
    }
}
.slide-out{
    animation: out 0.5s linear;
}
@keyframes out {
     0%{
    right:0px;
   }
   100%{
    right:-250px;
   }
  
    
}
.section{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
    flex-direction: column;
    /* text-align: center; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* position: relative; */
    height:100vh;
}
.top{
    padding-top:6rem;
    text-align: center;
}
.bottom{
   /* position: absolute;
   bottom:150px;
   left: */
   text-align: center;
   margin-bottom: 8rem;
   position: relative;
}
.downarrow{
    position: absolute;
    top:50px;
    bottom:0;
    left: 212px;
    width:70px;
    height:70px;
    animation: blink 1s forwards infinite;
    margin-top: 1rem;
}
@keyframes blink {
  from{
      top:10px;
  }
  bottom{
      bottom:300px;
  }
}
button{
    padding:0.4rem  80px;
    border-radius:30px;
    border:1px solid rgb(116, 115, 115);
    cursor: pointer;
}
.menu{
    font-weight: 700;
  
}

@media screen and (max-width:1050px){
  li{
    font-size: 16px;
  }
}
